<br />
<br />
<div class="wrapper">

        <div class="container">
            <div class="row">
                <div class="menu-title">
                    <h2>MENU</h2>
                    <div class="span-line"></div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 ">
                    <ul class="list-menu-ul">
                        <li class="li-center"><a href="/product" class="list-menu-a">ALL</a></li>
                {{#each categories}}
                <li class="li-center"><a href="/product/category/{{this.Id}}" class="list-menu-a">{{this.NameVN}}</a></li>
                {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        

            
            <div class="list-item">
                {{#each products}}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <a href="/product/{{this.Id}}"><img src="../../img/{{this.Image}}" class="img-item">
                        <h5>{{this.Name}} </h5>
                        <h6>{{this.UnitPrice}}đ</h6>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>


 
</div>