<body>
    <div class="wrapper">
        <table class="table">
            <thead class="table-color">
                <tr>
                    <th scope="col" class="col-th"></th>
                    <th scope="col" class="col-th">Tên sản phẩm</th>
                    <th scope="col" class="col-th">Số lượng</th>
                    <th scope="col" class="col-th">Đơn giá</th>
                    <th scope="col" class="col-th">Thành tiền</th>
                    <th scope="col" class="col-th"></th>
                </tr>
            </thead>
            {{#if products}}
            <tbody>
                {{#each products}}
                <tr class="tr-item">
                    <th scope="row" class="rowth">
                        <img src="../img/{{this.[0].Image}}" class="img-th"></a>
                    </th>
                    <td class="row1 row11">
                        <div class="flex-cart">
                            <div class="title-cart">{{this.[0].Name}}</div>
                            <div class="topping-cart">
                                {{#each this}}
                                    {{#ifEquals this.CategoryId '8'}}
                                        {{this.Name}}
                                    {{/ifEquals}}
                                {{/each}}                                
                            </div>
                            <div class="topping-cart">
                                {{#each this}}
                                    {{#ifEquals this.CategoryId '7'}}
                                        {{this.Name}}
                                    {{/ifEquals}}
                                {{/each}}                                   
                                {{lookup ../ice @index}}
                            </div>
                        </div>
                        </td>
                    <td class="row1">
                        <div class="buttons_added btn-add">
                            <input class="minus is-form" type="button" value="-">
                            <input aria-label="quantity" class="input-qty" max="20" min="1" name="" type="number"
                                value={{lookup ../quantity @index}}>
                            <input class="plus is-form" type="button" value="+">
                        </div>
                    </td>
                    <td class="row1">{{lookup ../money @index}}</td>
                    <td class="row1">Chưa làm</td>
                    <td class="row1">
                        <button type="button" class="btn-close btn-xoa" aria-label="Close"></button>
                    </td>
                </tr>                
                {{/each}}                               
            </tbody>
        {{/if}}

        </table>
    </div>
    <div class="flex-total">
        <div>
            
            <a href="/product"><button type="button" class="btn btn-secondary btn-cont">
                Tiếp tục mua hàng
            </button></a>
            
        </div>
    <div class="wrapper1">
        <div class="total-frame">
            <h5> Giỏ hàng</h5>
            <div class="span-total"></div>
            <div class="total">
                <div class="text-total">TỔNG TIỀN: </div>
                <div class="text-total">Chưa làm </div>
            </div>
            <button type="button" class="btn btn-secondary btn-total">
                ĐẶT HÀNG
            </button>
        </div>
    </div>
        
    </div>
    




</body>

<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/giohang.js"></script>